{{#if updateMessageForm}}
<h3>Update {{message.author}}'s {{message.riddle}}</h3>
<div class="col-md-6">
  <form>
    <div class="form-group">
      {{textarea class="form-control" placeholder=message.riddle rows="5" value=riddle}}
    </div>

    <div class="form-group">
      {{input class="form-control" value=author id="writer" placeholder=message.author}}
    </div>

    <div class="form-group">
      {{textarea class="form-control" placeholder=message.hint rows="3" value=hint}}
    </div>

    <div class="form-group">
      {{input class="form-control" value=image id="pic" placeholder=message.image}}
    </div>
    <p> <button class="btn btn-default" {{action 'update' message}}>Update</button>
      <button class="btn btn-default"data-dismiss="modal">Cancel</button></p>
  </form>
</div>
{{else}}
<div id="update-btn" class="col-md-1"> <button class="btn btn-success" {{action 'updateMessageForm'}}>Update</button>
</div>
{{/if}}